{
    "host": "filetransfer.services.qld.gov.au",
    "schemes": [
        "https"
    ],
    "basePath": "/",
    "swagger": "2.0",
    "info": {
        "version": "28",
        "title": "Kiteworks API Documentation"
    },
  "securityDefinitions": {
    "OAuth2": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://filetransfer.services.qld.gov.au/oauth/auth",
      "tokenUrl": "https://filetransfer.services.qld.gov.au/oauth/token",
      "scopes": {
        "*/*/*": "Grants full access"
      }
    }
  },
  "security": [
    {
      "OAuth2": [
        "*/*/*"
      ]
    }
  ],
    "paths": {
        "/rest/activities": {
            "get": {
                "tags": [
                    "activities"
                ],
                "summary": "Return the list of all Activities",
                "description": "Return the list of all Activities.",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Activity"
                            }
                        }
                    },
                    "490": {
                        "description": "Request blocked by WAF"
                    }
                },
                "deprecated": false,
                "parameters": [
                    {
                        "in": "query",
                        "name": "noDayBack",
                        "description": "Number of days back to search",
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "startDate",
                        "description": "Start date",
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "in": "query",
                        "name": "endDate",
                        "description": "End date",
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "in": "query",
                        "name": "filter",
                        "description": "All or my activities",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "search",
                        "description": "Search by mail body, subject and sender/recipients",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "type",
                        "description": "Activity type",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "transactionId",
                        "description": "Transaction ID associated with the activities",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "orderBy",
                        "description": "Sorting options",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "offset",
                        "description": "Offset",
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "limit",
                        "description": "Limit",
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "with",
                        "description": "With parameters",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "mode",
                        "description": "Response mode",
                        "type": "string"
                    }
                ]
            }
        },
        "/rest/admin/availableLdapGroups": {
            "get": {
                "tags": [
                    "admin"
                ],
                "summary": "Returns a list of available LDAP groups.",
                "description": "Returns a list of available LDAP groups.",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/AvailableLdapGroup"
                            }
                        }
                    },
                    "490": {
                        "description": "Request blocked by WAF"
                    }
                },
                "deprecated": false,
                "parameters": [
                    {
                        "in": "query",
                        "name": "filter",
                        "description": "Text to search for in cn, dn or description.",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "orderBy",
                        "description": "Sorting options",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "mode",
                        "description": "Response mode",
                        "type": "string"
                    }
                ]
            }
        },
        "/rest/admin/clients": {
            "get": {
                "tags": [
                    "admin"
                ],
                "summary": "List clients",
                "description": "Return a list of clients",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Client"
                            }
                        }
                    },
                    "490": {
                        "description": "Request blocked by WAF"
                    }
                },
                "deprecated": false,
                "parameters": [
                    {
                        "in": "query",
                        "name": "name",
                        "description": "Client name",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "name:contains",
                        "description": "Client name. Search for result that contains specified characters in this parameter.",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "description:contains",
                        "description": "Client description. Search for result that contains specified characters in this parameter.",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "orderBy",
                        "description": "Sorting options",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "offset",
                        "description": "Offset",
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "limit",
                        "description": "Limit",
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "with",
                        "description": "With parameters",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "mode",
                        "description": "Response mode",
                        "type": "string"
                    }
                ]
            },
            "post": {
                "tags": [
                    "admin"
                ],
                "summary": "Create a client",
                "description": "Create a new client that will be able to access the kiteworks system.\n    e.g.: A new mobile app that is customized for your company.",
                "responses": {
                    "422": {
                        "description": "Errors\\ERR_ENTITY_EXISTS<br />ERR_INPUT_REQUIRED<br />ERR_INPUT_NOT_INTEGER<br />ERR_INPUT_MIN_VALUE"
                    },
                    "490": {
                        "description": "Request blocked by WAF"
                    }
                },
                "deprecated": false,
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Details of the client",
                        "schema": {
                            "$ref": "#/definitions/Client.Post"
                        },
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "returnEntity",
                        "description": "Return information about newly created entity",
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "mode",
                        "description": "Response mode",
                        "type": "string"
                    }
                ]
            }
        },
        "/rest/admin/clients/{client_id}/scopes": {
            "get": {
                "tags": [
                    "admin"
                ],
                "summary": "List scopes of a client",
                "description": "Return a list of scopes for a specific client.\n    This returns the methods that this client is allowed to use\n    such as folders, files, members, comments, etc.",
                "responses": {
                    "490": {
                        "description": "Request blocked by WAF"
                    }
                },
                "deprecated": false,
                "parameters": [
                    {
                        "in": "path",
                        "name": "client_id",
                        "description": "ID of the client whose scopes to be retrieved",
                        "type": "string",
                        "required": true
                    }
                ]
            }
        },
        "/rest/admin/clients/{id}": {
            "get": {
                "tags": [
                    "admin"
                ],
                "summary": "Get a client",
                "description": "Return the admin settings of a specified client.\n    e.g.: I want the admin settings for my iOS client; pin timeout, token lifetime, etc., ",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/Client"
                        }
                    },
                    "490": {
                        "description": "Request blocked by WAF"
                    }
                },
                "deprecated": false,
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "ID of the client to be retrieved",
                        "type": "integer",
                        "required": true
                    }
                ]
            },
            "put": {
                "tags": [
                    "admin"
                ],
                "summary": "Update a client",
                "description": "Update the admin settings for the specified client",
                "responses": {
                    "422": {
                        "description": "Errors\\ERR_ACCESS_USER"
                    },
                    "490": {
                        "description": "Request blocked by WAF"
                    }
                },
                "deprecated": false,
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "ID of the client to be updated",
                        "type": "integer",
                        "required": true
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Details of the client",
                        "schema": {
                            "$ref": "#/definitions/Client.Put"
                        },
                        "required": true
                    }
                ]
            },
            "delete": {
                "tags": [
                    "admin"
                ],
                "summary": "Delete a client",
                "description": "Delete a client from the client list.",
                "responses": {
                    "422": {
                        "description": "Errors\\ERR_ACCESS_USER"
                    },
                    "490": {
                        "description": "Request blocked by WAF"
                    }
                },
                "deprecated": false,
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "ID of the client to be deleted",
                        "type": "string",
                        "required": true
                    }
                ]
            }
        },
        "/rest/admin/devices": {
            "get": {
                "tags": [
                    "admin"
                ],
                "summary": "List devices",
                "description": "Return a list of devices. e.g.: Returns a list of devices, per user,\n    that have authenticated on this server.\n    The list includes the name of the device (iPad, iPhone, etc),\n    install tag id, client id, and remote wipe flag.",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Device"
                            }
                        }
                    },
                    "490": {
                        "description": "Request blocked by WAF"
                    }
                },
                "deprecated": false,
                "parameters": [
                    {
                        "in": "query",
                        "name": "installTagId",
                        "description": "Unique identifier of install tag for this Device",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "installTagId:contains",
                        "description": "Unique identifier of install tag for this Device. Search for result that contains specified characters in this parameter.",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "userId",
                        "description": "Unique identifier of user for this Device",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "userId:in",
                        "description": "Unique identifier of user for this Device. Search for results that contain any of specified values of this parameter.",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "clientId",
                        "description": "Unique identifier of client for this Device",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "clientId:contains",
                        "description": "Unique identifier of client for this Device. Search for result that contains specified characters in this parameter.",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "orderBy",
                        "description": "Sorting options",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "offset",
                        "description": "Offset",
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "limit",
                        "description": "Limit",
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "with",
                        "description": "With parameters",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "mode",
                        "description": "Response mode",
                        "type": "string"
                    }
                ]
            },
            "post": {
                "tags": [
                    "admin"
                ],
                "summary": "Add a device",
                "description": "Add a device. This method is used when a user logs in to kiteworks\n    to track the device they use.",
                "responses": {
                    "422": {
                        "description": "Errors\\ERR_ACCESS_USER<br />Errors\\ERR_ENTITY_EXISTS<br />ERR_INPUT_REQUIRED"
                    },
                    "490": {
                        "description": "Request blocked by WAF"
                    }
                },
                "deprecated": false,
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Details of the device",
                        "schema": {
                            "$ref": "#/definitions/Device.Post"
                        },
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "returnEntity",
                        "description": "Return information about newly created entity",
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "mode",
                        "description": "Response mode",
                        "type": "string"
                    }
                ]
            }
        },
        "/rest/admin/devices/actions/wipe": {
            "post": {
                "tags": [
                    "admin"
                ],
                "summary": "Remote wipe the specified device",
                "description": "Set the remote wipe flag for the specified install_tag_id",
                "responses": {
                    "422": {
                        "description": "Errors\\ERR_ACCESS_USER<br />ERR_INPUT_REQUIRED"
                    },
                    "490": {
                        "description": "Request blocked by WAF"
                    }
                },
                "deprecated": false,
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Details of device to wipe",
                        "schema": {
                            "$ref": "#/definitions/RemoteWipe.Post"
                        },
                        "required": true
                    }
                ]
            }
        },
        "/rest/admin/devices/{id}": {
            "get": {
                "tags": [
                    "admin"
                ],
                "summary": "Get a device",
                "description": "Return the details of a specified device. Given the device id,\n    return the device name, install tag id, client id, and remote wipe flag.",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/Device"
                        }
                    },
                    "490": {
                        "description": "Request blocked by WAF"
                    }
                },
                "deprecated": false,
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "ID of the device to be retrieved",
                        "type": "integer",
                        "required": true
                    }
                ]
            },
            "put": {
                "tags": [
                    "admin"
                ],
                "summary": "Update a device",
                "description": "Update the details of a device. Can change the mobile key store and messaging registration token.",
                "responses": {
                    "422": {
                        "description": "Errors\\ERR_ACCESS_USER<br />ERR_INPUT_REQUIRED"
                    },
                    "490": {
                        "description": "Request blocked by WAF"
                    }
                },
                "deprecated": false,
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "ID of the device to be updated",
                        "type": "integer",
                        "required": true
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Details of the device",
                        "schema": {
                            "$ref": "#/definitions/Device.Put"
                        },
                        "required": true
                    }
                ]
            },
            "delete": {
                "tags": [
                    "admin"
                ],
                "summary": "Delete a device",
                "description": "Delete a device given the client id",
                "responses": {
                    "422": {
                        "description": "Errors\\ERR_ACCESS_USER"
                    },
                    "490": {
                        "description": "Request blocked by WAF"
                    }
                },
                "deprecated": false,
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "ID of the device to be deleted",
                        "type": "string",
                        "required": true
                    }
                ]
            }
        },
        "/rest/admin/devices/{install_tag_id}/wipe": {
            "get": {
                "tags": [
                    "admin"
                ],
                "summary": "Get the wipe status",
                "description": "Returns the remote wipe status of a specified device identified by install_tag_id",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    "490": {
                        "description": "Request blocked by WAF"
                    }
                },
                "deprecated": false,
                "parameters": [
                    {
                        "in": "path",
                        "name": "install_tag_id",
                        "description": "ID of the device to be retrieved",
                        "type": "string",
                        "required": true
                    }
                ]
            }
        },
        "/rest/admin/hostnames": {
            "get": {
                "tags": [
                    "admin"
                ],
                "summary": "List hostnames",
                "description": "Returns a list of hostnames",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/Hostname"
                        }
                    },
                    "490": {
                        "description": "Request blocked by WAF"
                    }
                },
                "deprecated": false,
                "parameters": [
                    {
                        "in": "query",
                        "name": "with",
                        "description": "With parameters",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "mode",
                        "description": "Response mode",
                        "type": "string"
                    }
                ]
            },
            "delete": {
                "tags": [
                    "admin"
                ],
                "summary": "Deletes list of hostnames",
                "description": "Deletes list of hostnames.",
                "responses": {
                    "422": {
                        "description": "Errors\\ERR_ACCESS_USER"
                    },
                    "490": {
                        "description": "Request blocked by WAF"
                    }
                },
                "deprecated": false,
                "parameters": [
                    {
                        "in": "query",
                        "name": "id:in",
                        "description": "Array of values which are going to be changed.",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "partialSuccess",
                        "description": "Whether to perform action on valid items even if some ones fail",
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "mode",
                        "description": "Response mode",
                        "type": "string"
                    }
                ]
            },
            "post": {
                "tags": [
                    "admin"
                ],
                "summary": "Create an alias hostname",
                "description": "Create an alias hostname.",
                "responses": {
                    "422": {
                        "description": "Errors\\ERR_ENTITY_EXISTS<br />ERR_INPUT_REQUIRED<br />ERR_INPUT_NOT_BOOLEAN"
                    },
                    "490": {
                        "description": "Request blocked by WAF"
                    }
                },
                "deprecated": false,
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "comment to activity",
                        "schema": {
                            "$ref": "#/definitions/Hostname.Post"
                        },
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "returnEntity",
                        "description": "Return information about newly created entity",
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "mode",
                        "description": "Response mode",
                        "type": "string"
                    }
                ]
            }
        },
        "/rest/admin/hostnames/{id}": {
            "get": {
                "tags": [
                    "admin"
                ],
                "summary": "Returns the details of hostname of the specified ID.",
                "description": "Returns the details of hostname of the specified ID.",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/Hostname"
                        }
                    },
                    "490": {
                        "description": "Request blocked by WAF"
                    }
                },
                "deprecated": false,
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "ID of the hostname to be retrieved",
                        "type": "integer",
                        "required": true
                    }
                ]
            },
            "put": {
                "tags": [
                    "admin"
                ],
                "summary": "Disable / enable alias hostname",
                "description": "Disable / enable the specified hostname.",
                "responses": {
                    "422": {
                        "description": "Errors\\ERR_ACCESS_USER"
                    },
                    "490": {
                        "description": "Request blocked by WAF"
                    }
                },
                "deprecated": false,
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "ID of the hostname to disable",
                        "type": "integer",
                        "required": true
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "comment to activity",
                        "schema": {
                            "$ref": "#/definitions/Hostname.Put"
                        },
                        "required": true
                    }
                ]
            },
            "delete": {
                "tags": [
                    "admin"
                ],
                "summary": "Mark specified hostname as deleted.",
                "description": "Marks the specified hostname as deleted.",
                "responses": {
                    "422": {
                        "description": "Errors\\ERR_ACCESS_USER"
                    },
                    "490": {
                        "description": "Request blocked by WAF"
                    }
                },
                "deprecated": false,
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "ID of the hostname",
                        "type": "integer",
                        "required": true
                    }
                ]
            }
        },
        "/rest/admin/ldapGroups": {
            "get": {
                "tags": [
                    "admin"
                ],
                "summary": "Returns a list of LDAP groups.",
                "description": "Returns a list of LDAP groups that have been enabled through the kiteworks admin.",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/LdapGroup"
                            }
                        }
                    },
                    "490": {
                        "description": "Request blocked by WAF"
                    }
                },
                "deprecated": false,
                "parameters": [
                    {
                        "in": "query",
                        "name": "name",
                        "description": "LDAP group name",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "name:contains",
                        "description": "LDAP group name. Search for result that contains specified characters in this parameter.",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "email",
                        "description": "LDAP group Email",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "email:contains",
                        "description": "LDAP group Email. Search for result that contains specified characters in this parameter.",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "orderBy",
                        "description": "Sorting options",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "offset",
                        "description": "Offset",
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "limit",
                        "description": "Limit",
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "with",
                        "description": "With parameters",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "mode",
                        "description": "Response mode",
                        "type": "string"
                    }
                ]
            },
            "post": {
                "tags": [
                    "admin"
                ],
                "summary": "Create an LDAP group",
                "description": "Creates an LDAP group",
                "responses": {
                    "422": {
                        "description": "ERR_INPUT_REQUIRED<br />ERR_INPUT_INVALID_EMAIL"
                    },
                    "490": {
                        "description": "Request blocked by WAF"
                    }
                },
                "deprecated": false,
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "The LDAP group details",
                        "schema": {
                            "$ref": "#/definitions/LdapGroup.Post"
                        },
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "returnEntity",
                        "description": "Return information about newly created entity",
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "mode",
                        "description": "Response mode",
                        "type": "string"
                    }
                ]
            }
        },
        "/rest/admin/ldapGroups/{id}": {
            "get": {
                "tags": [
                    "admin"
                ],
                "summary": "Gets an LDAP group",
                "description": "Returns the details of a specified LDAP group. This includes the settings from the admin.",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/LdapGroup"
                        }
                    },
                    "490": {
                        "description": "Request blocked by WAF"
                    }
                },
                "deprecated": false,
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "ID of the LDAP group to be retrieved",
                        "type": "integer",
                        "required": true
                    }
                ]
            },
            "put": {
                "tags": [
                    "admin"
                ],
                "summary": "Updates an LDAP group",
                "description": "Updates an LDAP group",
                "responses": {
                    "422": {
                        "description": "Errors\\ERR_ACCESS_USER"
                    },
                    "490": {
                        "description": "Request blocked by WAF"
                    }
                },
                "deprecated": false,
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "ID of the LDAP to update",
                        "type": "integer",
                        "required": true
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "The LDAP group details",
                        "schema": {
                            "$ref": "#/definitions/LdapGroup.Put"
                        },
                        "required": true
                    }
                ]
            },
            "delete": {
                "tags": [
                    "admin"
                ],
                "summary": "Deletes an LDAP group",
                "description": "Deletes an LDAP group",
                "responses": {
                    "422": {
                        "description": "Errors\\ERR_ACCESS_USER"
                    },
                    "490": {
                        "description": "Request blocked by WAF"
                    }
                },
                "deprecated": false,
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "ID of the LDAP group to delete",
                        "type": "integer",
                        "required": true
                    }
                ]
            }
        },
        "/rest/admin/locations": {
            "get": {
                "tags": [
                    "admin"
                ],
                "summary": "List locations",
                "description": "Returns a list of available kiteworks locations.\n    Locations are logical collection of multiple kiteworks servers,\n    usually with a common geography or particular purpose.",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/Location"
                        }
                    },
                    "490": {
                        "description": "Request blocked by WAF"
                    }
                },
                "deprecated": false,
                "parameters": [
                    {
                        "in": "query",
                        "name": "mode",
                        "description": "Response mode",
                        "type": "string"
                    }
                ]
            },
            "post": {
                "tags": [
                    "admin"
                ],
                "summary": "Create a location entry.",
                "description": "Creates a location entry by providing a name.",
                "responses": {
                    "422": {
                        "description": "Errors\\ERR_ACCESS_SYSTEM_ADMIN<br />Errors\\ERR_ENTITY_EXISTS<br />ERR_INPUT_INVALID_FORMAT<br />ERR_INPUT_REQUIRED"
                    },
                    "490": {
                        "description": "Request blocked by WAF"
                    }
                },
                "deprecated": false,
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "The location details",
                        "schema": {
                            "$ref": "#/definitions/Location.Post"
                        },
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "returnEntity",
                        "description": "Return information about newly created entity",
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "mode",
                        "description": "Response mode",
                        "type": "string"
                    }
                ]
            }
        },
        "/rest/admin/locations/{id}": {
            "get": {
                "tags": [
                    "admin"
                ],
                "summary": "Return location name.",
                "description": "Returns the name of a specified location.",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/Location"
                        }
                    },
                    "490": {
                        "description": "Request blocked by WAF"
                    }
                },
                "deprecated": false,
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "ID of the location to be retrieved",
                        "type": "integer",
                        "required": true
                    }
                ]
            },
            "delete": {
                "tags": [
                    "admin"
                ],
                "summary": "Delete a location.",
                "description": "Delete the specified location.",
                "responses": {
                    "422": {
                        "description": "Errors\\ERR_ACCESS_SYSTEM_ADMIN<br />Errors\\ERR_ACCESS_USER"
                    },
                    "490": {
                        "description": "Request blocked by WAF"
                    }
                },
                "deprecated": false,
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "ID of the location to remove from",
                        "type": "integer",
                        "required": true
                    }
                ]
            }
        },
        "/rest/admin/mail": {
            "get": {
                "tags": [
                    "admin"
                ],
                "summary": "List emails",
                "description": "Returns the list of all emails for this user.\n    This includes sent emails, received emails, draft emails, and request a file emails.",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Email"
                            }
                        }
                    },
                    "490": {
                        "description": "Request blocked by WAF"
                    }
                },
                "deprecated": false,
                "parameters": [
                    {
                        "in": "query",
                        "name": "senderId",
                        "description": "Unique identifier of User who sent Email",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "senderId:in",
                        "description": "Unique identifier of User who sent Email. Search for results that contain any of specified values of this parameter.",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "date",
                        "description": "Email creation date",
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "in": "query",
                        "name": "date:gt",
                        "description": "Email creation date. Search for result that has this parameter value greater than specified.",
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "in": "query",
                        "name": "date:gte",
                        "description": "Email creation date. Search for result that has this parameter value greater or equal to the specified.",
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "in": "query",
                        "name": "date:lt",
                        "description": "Email creation date. Search for result that has this parameter value less than specified.",
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "in": "query",
                        "name": "date:lte",
                        "description": "Email creation date. Search for result that has this parameter value less or equal to the specified.",
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "in": "query",
                        "name": "modified_date",
                        "description": "Email modification date",
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "in": "query",
                        "name": "modified_date:gt",
                        "description": "Email modification date. Search for result that has this parameter value greater than specified.",
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "in": "query",
                        "name": "modified_date:gte",
                        "description": "Email modification date. Search for result that has this parameter value greater or equal to the specified.",
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "in": "query",
                        "name": "modified_date:lt",
                        "description": "Email modification date. Search for result that has this parameter value less than specified.",
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "in": "query",
                        "name": "modified_date:lte",
                        "description": "Email modification date. Search for result that has this parameter value less or equal to the specified.",
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "in": "query",
                        "name": "deleted",
                        "description": "Indicates that Email is deleted",
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "emailPackageId",
                        "description": "Email Package unique identifier",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "emailPackageId:in",
                        "description": "Email Package unique identifier. Search for results that contain any of specified values of this parameter.",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "templateId",
                        "description": "Email Template unique identifier",
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "templateId:in",
                        "description": "Email Template unique identifier. Search for results that contain any of specified values of this parameter.",
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "status",
                        "description": "Email status",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "isPreview",
                        "description": "Whether the email is a preview email",
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "isUserSent",
                        "description": "Whether the email was sent by some user",
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "webFormId",
                        "description": "Email web form ID",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "webFormId:contains",
                        "description": "Email web form ID. Search for result that contains specified characters in this parameter.",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "orderBy",
                        "description": "Sorting options",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "offset",
                        "description": "Offset",
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "limit",
                        "description": "Limit",
                        "type": "integer"
                    }
                ]
            }
        },
        "/rest/admin/mail/actions/withdrawFiles/users/{userId}": {
            "delete": {
                "tags": [
                    "admin"
                ],
                "summary": "Withdraw all files from deleted/demoted users' emails",
                "description": "Withdraw all files from deleted/demoted users' emails",
                "responses": {
                    "422": {
                        "description": "Errors\\ERR_ACCESS_USER"
                    },
                    "490": {
                        "description": "Request blocked by WAF"
                    }
                },
                "deprecated": false,
                "parameters": [
                    {
                        "in": "path",
                        "name": "userId",
                        "description": "ID of the user to withdraw files",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "emailId:in",
                        "description": "A list of email ids which will be processed",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "partialSuccess",
                        "description": "Whether to perform action on valid items even if some ones fail",
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "mode",
                        "description": "Response mode",
                        "type": "string"
                    }
                ]
            }
        },
        "/rest/admin/profiles": {
            "get": {
                "tags": [
                    "admin"
                ],
                "summary": "List user types",
                "description": "Returns a list of user types supported by kiteworks. e.g.:\n    Today we return Standard and Restricted",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Profile"
                            }
                        }
                    },
                    "490": {
                        "description": "Request blocked by WAF"
                    }
                },
                "deprecated": false,
                "parameters": [
                    {
                        "in": "query",
                        "name": "name",
                        "description": "Profile name",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "name:contains",
                        "description": "Profile name. Search for result that contains specified characters in this parameter.",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "orderBy",
                        "description": "Sorting options",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "offset",
                        "description": "Offset",
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "limit",
                        "description": "Limit",
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "with",
                        "description": "With parameters",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "mode",
                        "description": "Response mode",
                        "type": "string"
                    }
                ]
            }
        },
        "/rest/admin/profiles/mappingOrder": {
            "get": {
                "tags": [
                    "admin"
                ],
                "summary": "Get profile mapping order",
                "description": "Get profile mapping order that determines application of filters on login",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ProfileMappingOrder"
                        }
                    },
                    "490": {
                        "description": "Request blocked by WAF"
                    }
                },
                "deprecated": false
            },
            "put": {
                "tags": [
                    "admin"
                ],
                "summary": "Update profile mapping order",
                "description": "Update profile mapping order that determines application of filters on login",
                "responses": {
                    "422": {
                        "description": "ERR_INPUT_NOT_BOOLEAN<br />ERR_INPUT_NOT_ARRAY_OF_INTEGERS<br />ERR_INPUT_REQUIRED"
                    },
                    "490": {
                        "description": "Request blocked by WAF"
                    }
                },
                "deprecated": false,
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "profile ordering",
                        "schema": {
                            "$ref": "#/definitions/ProfileMappingOrder.Put"
                        },
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "with",
                        "description": "With parameters",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "mode",
                        "description": "Response mode",
                        "type": "string"
                    }
                ]
            }
        },
        "/rest/admin/profiles/mappings": {
            "get": {
                "tags": [
                    "admin"
                ],
                "summary": "Get profile mapping results for user",
                "description": "Get profile mapping results for user",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ProfileMappingsTest"
                        }
                    },
                    "490": {
                        "description": "Request blocked by WAF"
                    }
                },
                "deprecated": false,
                "parameters": [
                    {
                        "in": "query",
                        "name": "user",
                        "description": "User to test mappings for",
                        "type": "string",
                        "required": true
                    }
                ]
            }
        },
        "/rest/admin/profiles/{id}": {
            "get": {
                "tags": [
                    "admin"
                ],
                "summary": "Return an user type",
                "description": "Returns the details of a specified user type. e.g.: Returns user type id and name.",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Profile"
                            }
                        }
                    },
                    "490": {
                        "description": "Request blocked by WAF"
                    }
                },
                "deprecated": false,
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "ID of the user type to be retrieved",
                        "type": "integer",
                        "required": true
                    }
                ]
            }
        },
        "/rest/admin/profiles/{id}/mappings": {
            "get": {
                "tags": [
                    "admin"
                ],
                "summary": "Get profile mapping details",
                "description": "Get profile mapping details for user profile",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ProfileMappings"
                        }
                    },
                    "490": {
                        "description": "Request blocked by WAF"
                    }
                },
                "deprecated": false,
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "Id of the profile to get mapping details for",
                        "type": "integer",
                        "required": true
                    }
                ]
            },
            "put": {
                "tags": [
                    "admin"
                ],
                "summary": "Update profile mapping details",
                "description": "Update profile mapping details for user profile",
                "responses": {
                    "422": {
                        "description": "ERR_INPUT_NOT_BOOLEAN"
                    },
                    "490": {
                        "description": "Request blocked by WAF"
                    }
                },
                "deprecated": false,
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Profile mapping details",
                        "schema": {
                            "$ref": "#/definitions/ProfileMappingChanges.Put"
                        },
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "description": "Id of the profile to get mapping details for",
                        "type": "integer",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "with",
                        "description": "With parameters",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "mode",
                        "description": "Response mode",
                        "type": "string"
                    }
                ]
            }
        },
        "/rest/admin/profiles/{id}/users": {
            "get": {
                "tags": [
                    "admin"
                ],
                "summary": "Return list of users with the specified types",
                "description": "Returns the list of users who have the specified type.\n    e.g.: Return me the user names and email addresses of all the Restricted Users.",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/User"
                            }
                        }
                    },
                    "422": {
                        "description": "Errors\\ERR_ACCESS_USER"
                    },
                    "490": {
                        "description": "Request blocked by WAF"
                    }
                },
                "deprecated": false,
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "ID of the user type to retrieve users for",
                        "type": "integer",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "email",
                        "description": "The user's email",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "email:contains",
                        "description": "The user's email. Search for result that contains specified characters in this parameter.",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "name",
                        "description": "The name of the user",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "name:contains",
                        "description": "The name of the user. Search for result that contains specified characters in this parameter.",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "metadata",
                        "description": "The metadata of the user",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "metadataContains",
                        "description": "The metadata of the user. Search for result that contains specified characters in this parameter.",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "deleted",
                        "description": "Whether the user has been deleted",
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "active",
                        "description": "Whether the user is an actual kitework user",
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "verified",
                        "description": "Whether the user is verified",
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "suspended",
                        "description": "Whether the user is suspended",
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "isRecipient",
                        "description": "Whether user is recipient",
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "allowsCollaboration",
                        "description": "Whether user's profile allows collaboration access",
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "created",
                        "description": "User creation date",
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "in": "query",
                        "name": "created:gt",
                        "description": "User creation date. Search for result that has this parameter value greater than specified.",
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "in": "query",
                        "name": "created:gte",
                        "description": "User creation date. Search for result that has this parameter value greater or equal to the specified.",
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "in": "query",
                        "name": "created:lt",
                        "description": "User creation date. Search for result that has this parameter value less than specified.",
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "in": "query",
                        "name": "created:lte",
                        "description": "User creation date. Search for result that has this parameter value less or equal to the specified.",
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "in": "query",
                        "name": "orderBy",
                        "description": "Sorting options",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "offset",
                        "description": "Offset",
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "limit",
                        "description": "Limit",
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "locate_id",
                        "description": "If specified, \"offset\" parameter will be ignored\n                                            and the page containing entity with this Id will be returned.",
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "with",
                        "description": "With parameters",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "mode",
                        "description": "Response mode",
                        "type": "string"
                    }
                ]
            },
            "put": {
                "tags": [
                    "admin"
                ],
                "summary": "Change user type",
                "description": "Change user type for specified user",
                "responses": {
                    "422": {
                        "description": "Errors\\ERR_ACCESS_USER<br />ERR_INPUT_NOT_BOOLEAN<br />ERR_INPUT_ATTRIBUTE_FORBIDDEN<br />ERR_INPUT_REQUIRED<br />ERR_INPUT_NOT_STRING"
                    },
                    "490": {
                        "description": "Request blocked by WAF"
                    }
                },
                "deprecated": false,
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "ID of the user type",
                        "type": "integer",
                        "required": true
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "The users details",
                        "schema": {
                            "$ref": "#/definitions/UserDemoteOptions.Post"
                        }
                    },
                    {
                        "in": "query",
                        "name": "id:in",
                        "description": "IDs of users, who are going to be assigned to the user type",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "mode",
                        "description": "Response mode",
                        "type": "string"
                    }
                ]
            }
        },
        "/rest/admin/sources": {
            "get": {
                "tags": [
                    "admin"
                ],
                "summary": "List all added sources",
                "description": "Returns a list of all available ECM sources.",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Source"
                            }
                        }
                    },
                    "490": {
                        "description": "Request blocked by WAF"
                    }
                },
                "deprecated": false,
                "parameters": [
                    {
                        "in": "query",
                        "name": "include_kw",
                        "description": "Include KW",
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "with",
                        "description": "With parameters",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "mode",
                        "description": "Response mode",
                        "type": "string"
                    }
                ]
            },
            "post": {
                "tags": [
                    "admin"
                ],
                "summary": "Add assigned ECM source",
                "description": "Add assigned source.",
                "responses": {
                    "422": {
                        "description": "ERR_INPUT_REQUIRED"
                    },
                    "490": {
                        "description": "Request blocked by WAF"
                    }
                },
                "deprecated": false,
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "source details",
                        "schema": {
                            "$ref": "#/definitions/Source.Post"
                        },
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "returnEntity",
                        "description": "Return information about newly created entity",
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "mode",
                        "description": "Response mode",
                        "type": "string"
                    }
                ]
            }
        },
        "/rest/admin/sources/{id}": {
            "get": {
                "tags": [
                    "admin"
                ],
                "summary": "Returns requested assigned ECM source",
                "description": "Returns requested assigned source.",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/Source"
                        }
                    },
                    "490": {
                        "description": "Request blocked by WAF"
                    }
                },
                "deprecated": false,
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "ID of the assigned source to be retrieved",
                        "type": "string",
                        "required": true
                    }
                ]
            },
            "put": {
                "tags": [
                    "admin"
                ],
                "summary": "Updates details of the specified ECM source",
                "description": "Updates requested source.",
                "responses": {
                    "422": {
                        "description": "Errors\\ERR_ACCESS_USER"
                    },
                    "490": {
                        "description": "Request blocked by WAF"
                    }
                },
                "deprecated": false,
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "ID of the source to update",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "source details",
                        "schema": {
                            "$ref": "#/definitions/Source.Put"
                        },
                        "required": true
                    }
                ]
            },
            "delete": {
                "tags": [
                    "admin"
                ],
                "summary": "Deletes specified assigned source",
                "description": "Deletes specified assigned source.",
                "responses": {
                    "422": {
                        "description": "Errors\\ERR_ACCESS_SYSTEM_ADMIN<br />Errors\\ERR_ACCESS_USER"
                    },
                    "490": {
                        "description": "Request blocked by WAF"
                    }
                },
                "deprecated": false,
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "ID of the assigned source to be deleted.",
                        "type": "string",
                        "required": true
                    }
                ]
            }
        },
        "/rest/admin/users": {
            "get": {
                "tags": [
                    "admin"
                ],
                "summary": "Get a list of Users",
                "description": "Returns a list of Users in the system.\n    This call will only work for users with admin access.",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/User"
                            }
                        }
                    },
                    "490": {
                        "description": "Request blocked by WAF"
                    }
                },
                "deprecated": false,
                "parameters": [
                    {
                        "in": "query",
                        "name": "email",
                        "description": "The user's email",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "email:contains",
                        "description": "The user's email. Search for result that contains specified characters in this parameter.",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "name",
                        "description": "The name of the user",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "name:contains",
                        "description": "The name of the user. Search for result that contains specified characters in this parameter.",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "metadata",
                        "description": "The metadata of the user",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "metadataContains",
                        "description": "The metadata of the user. Search for result that contains specified characters in this parameter.",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "deleted",
                        "description": "Whether the user has been deleted",
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "active",
                        "description": "Whether the user is an actual kitework user",
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "verified",
                        "description": "Whether the user is verified",
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "suspended",
                        "description": "Whether the user is suspended",
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "isRecipient",
                        "description": "Whether user is recipient",
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "allowsCollaboration",
                        "description": "Whether user's profile allows collaboration access",
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "created",
                        "description": "User creation date",
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "in": "query",
                        "name": "created:gt",
                        "description": "User creation date. Search for result that has this parameter value greater than specified.",
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "in": "query",
                        "name": "created:gte",
                        "description": "User creation date. Search for result that has this parameter value greater or equal to the specified.",
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "in": "query",
                        "name": "created:lt",
                        "description": "User creation date. Search for result that has this parameter value less than specified.",
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "in": "query",
                        "name": "created:lte",
                        "description": "User creation date. Search for result that has this parameter value less or equal to the specified.",
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "in": "query",
                        "name": "orderBy",
                        "description": "Sorting options",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "offset",
                        "description": "Offset",
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "limit",
                        "description": "Limit",
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "locate_id",
                        "description": "If specified, \"offset\" parameter will be ignored\n                                            and the page containing entity with this Id will be returned.",
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "with",
                        "description": "With parameters",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "mode",
                        "description": "Response mode",
                        "type": "string"
                    }
                ]
            },
            "post": {
                "tags": [
                    "admin"
                ],
                "summary": "Create a User",
                "description": "Creates a new User in the system by specifying an email address and name.",
                "responses": {
                    "422": {
                        "description": "Errors\\ERR_ACCESS_USER<br />ERR_INPUT_INVALID_EMAIL<br />ERR_INPUT_REQUIRED<br />ERR_INPUT_PASSWORD_COMPLEXITY_ERROR<br />ERR_INPUT_NOT_NUMERIC<br />ERR_INPUT_MIN_VALUE"
                    },
                    "490": {
                        "description": "Request blocked by WAF"
                    }
                },
                "deprecated": false,
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "The user details",
                        "schema": {
                            "$ref": "#/definitions/User.Post"
                        },
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "returnEntity",
                        "description": "Return information about newly created entity",
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "mode",
                        "description": "Response mode",
                        "type": "string"
                    }
                ]
            }
        },
        "/rest/admin/users/migrateEmails": {
            "post": {
                "tags": [
                    "admin"
                ],
                "summary": "Endpoint to bulk update users emails",
                "description": "Endpoint to bulk update users emails. Accepts array of old and new user email pairs",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/User"
                            }
                        }
                    },
                    "422": {
                        "description": "ERR_INPUT_INVALID_EMAIL<br />ERR_INPUT_REQUIRED<br />ERR_INPUT_PASSWORD_COMPLEXITY_ERROR"
                    },
                    "490": {
                        "description": "Request blocked by WAF"
                    }
                },
                "deprecated": false,
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "The user details",
                        "schema": {
                            "$ref": "#/definitions/UsersEmailMigration.Post"
                        },
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "returnEntity",
                        "description": "Return information about newly created entity",
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "mode",
                        "description": "Response mode",
                        "type": "string"
                    }
                ]
            }
        },
        "/rest/admin/users/migrateEmailsCsv": {
            "post": {
                "tags": [
                    "admin"
                ],
                "summary": "Endpoint to bulk update users emails",
                "description": "Endpoint to bulk update users emails. Accepts CSV file. ",
                "responses": {
                    "422": {
                        "description": "ERR_INPUT_NOT_BOOLEAN"
                    },
                    "490": {
                        "description": "Request blocked by WAF"
                    }
                },
                "deprecated": false,
                "parameters": [
                    {
                        "in": "formData",
                        "name": "body",
                        "description": "CSV file",
                        "type": "file",
                        "required": true
                    },
                    {
                        "in": "formData",
                        "name": "deleteIfExists",
                        "description": "Delete users which have emails mentioned in any newEmail field",
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "returnEntity",
                        "description": "Return information about newly created entity",
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "mode",
                        "description": "Response mode",
                        "type": "string"
                    }
                ],
                "consumes": [
                    "multipart/form-data"
                ]
            }
        },
        "/rest/admin/users/{id}": {
            "get": {
                "tags": [
                    "admin"
                ],
                "summary": "Get User",
                "description": "Returns the details of the specified user (this includes email address and name)",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/User"
                        }
                    },
                    "490": {
                        "description": "Request blocked by WAF"
                    }
                },
                "deprecated": false,
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "ID of the user to retrieve",
                        "type": "string",
                        "required": true
                    }
                ]
            },
            "put": {
                "tags": [
                    "admin"
                ],
                "summary": "Update User",
                "description": "Updates the details of a user.\n    e.g.: Change their name, set as deleted, set as active or inactive, etc.",
                "responses": {
                    "422": {
                        "description": "Errors\\ERR_ACCESS_USER"
                    },
                    "490": {
                        "description": "Request blocked by WAF"
                    }
                },
                "deprecated": false,
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "ID of the user to update",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "The user details",
                        "schema": {
                            "$ref": "#/definitions/User.Put"
                        },
                        "required": true
                    }
                ]
            },
            "delete": {
                "tags": [
                    "admin"
                ],
                "summary": "Deletes a User",
                "description": "Mark the specified user as deleted. This user will still be returned in the GET Users query.",
                "responses": {
                    "422": {
                        "description": "Errors\\ERR_ACCESS_USER<br />ERR_INPUT_NOT_BOOLEAN<br />ERR_INPUT_ATTRIBUTE_FORBIDDEN<br />ERR_INPUT_REQUIRED<br />ERR_INPUT_NOT_STRING"
                    },
                    "490": {
                        "description": "Request blocked by WAF"
                    }
                },
                "deprecated": false,
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "ID of the user to delete",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "retainToUser",
                        "description": "New owner id to re-assign data to (required if retainData or retainPermissionToSharedData is True)",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "remoteWipe",
                        "description": "Remote wipe data on desktop and mobile devices",
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "deleteUnsharedData",
                        "description": "Delete all data owned by the user (required and must be True if retainData is False and vice versa)",
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "retainData",
                        "description": "Retain users data (required and must be True if deleteUnsharedData is False and vice versa)",
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "retainPermissionToSharedData",
                        "description": "Retain permissions to shared data",
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "withdrawFileLinks",
                        "description": "Delete attached files in emails sent by deleted/demoted users",
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "withdrawRequestFiles",
[...]
